<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <%= user %>
    <%- include('./partials/scripts') %>
</body>
</html>